@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
header {
  flex: 0 1 auto;
  padding: 1em;
}
main {
  overflow: scroll;
  height: 65vh;
}

main::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

main::-webkit-scrollbar-track {
  background: #f1f1f1;
}

main::-webkit-scrollbar-thumb {
  background: #888;
}

main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

tbody th {
  position: -webkit-sticky; 
  position: sticky;
  left: 0;
}

th {
  background-color: white;
  z-index: 50;
}

.menu {
  width: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  margin-top: 0.25em;
}

.menu > div {
  margin-left: 1em;
}

.cell-menu {
  flex-grow: 2;
  margin-bottom: 20px;
}
.cell-menu input {
  min-width: 45vw;
}

.cell-menu button {
  margin-right: 0.5em;
}

.csv-menu > div {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.csv-menu button {
  margin-left: 0.5em;
}

.swatches-picker > div {
  z-index: 100;
}

.swatches-picker {
  position: absolute;
}

.cell-current {
  border: 2px solid hsl(204, 86%, 53%) !important;
}

.cell {
  width: 150px;
  height: 20px;
}

.cell:hover {
  cursor: pointer;
}

.cell-not-focus {
  border: 1.5px solid hsl(217, 71%, 53%);
}

.cell-selected {
  border: 2px solid hsl(141, 53%, 53%) !important;
}

.cell-error input {
  font-weight: 600;
}

.cell .input-container {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

.cell input {
  box-shadow: none !important;
  display: flex;
  width: 100px;
  outline: none;
  margin: 0;
  border: none;
}

.cell .clear-btn {
  cursor: pointer;
  font-size: 12px !important;
  max-height: 20px;
  display: flex;
}

.tooltip .tooltiptext {
  background-color: hsl(0, 0%, 29%);
  color: #fff;
  text-align: center;
  padding: 8px 10px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

select {
  width: 18px;
}

.row-action {
  display: none;
}

.col-action {
  display: none;
}

th.row-label:hover > .row-action {
  display: block;
}

.col-label {
  text-align: center !important;
}

th.col-label:hover > .col-action {
  display: inline-block;
}

.col-label > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

tr th.row-label {
  min-width: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 25px;
  padding-left: 6px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 15px;
}

table,
th,
td {
  border: 1px solid grey;
}

td {
  padding-bottom: 3px;
  min-width: 130px;
}

#title {
  box-shadow: none !important;
  outline: none;
  margin: 0;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#title:focus {
  background-color: hsl(0, 0%, 96%);
}

input#title {
  min-width: 45vw;
}

.row-label,
.col-label {
  background-color: hsl(0, 0%, 96%);
}
